body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .CenterCenter{
    display:grid;
    place-items: center;
    height: 100vh;   
  }
  .Container{
    display: relative;
    padding: 20px;
    height:50vh;
    width: 50vw;
    max-width: 300px;
    max-height: 350px;
    background-color: rgba(58, 167, 143, 0.397);
    border-radius:10%;
    min-width: 200px;
    min-height: 300px;
  
  }
  .block{
    position: relative;
    display: block;
  }
  .input {
  height:20px;
  }
  